In [6]:
"""Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series."""
import pandas as pd
data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
"""Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.""" 
    
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [10]:
"""Q3. Create a Pandas DataFrame that contains the following data:
Name       Age       Gender
Alice      25         female
Bob        30         male
Claire     27         female
Then, print the DataFrame."""

import pandas as pd
data={'name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)

print(df)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [12]:
"""Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example."""
#Ans
"""In pandas, a DataFrame is a two-dimensional data structure that represents tabular data, similar to a table 
in a relational database or a spreadsheet. It consists of rows and columns, where each column can have a 
different data type. A DataFrame can be seen as a collection of Pandas Series objects, where each Series 
represents a column of data.

A Pandas Series, on the other hand, is a one-dimensional array-like object that can hold any data type. 
It is similar to a column in a DataFrame and can be labeled with an index."""
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Emma', 'Mike'],
        'Age': [25, 28, 30],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
print(df)

   Name  Age      City
0  John   25  New York
1  Emma   28    London
2  Mike   30     Paris

In [13]:
import pandas as pd

# Creating a Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)
  
"""Here, we created a Pandas Series series using a list data. The Series has a single column of data,
and each value is labeled with an index."""

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
"""Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?"""
#Ans

"""
Pandas provides a wide range of functions to manipulate and analyze data in a DataFrame. Some common 
functions include:

In [14]:
"""1.head(): This function allows you to view the first n rows of a DataFrame. It is useful for quickly 
inspecting the structure and contents of a DataFrame. For example:"""
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Mike', 'Emily'],
        'Age': [25, 28, 30, 32],
        'City': ['New York', 'London', 'Paris', 'Sydney']}
df = pd.DataFrame(data)

# Display the first 3 rows
print(df.head(3))

   Name  Age      City
0  John   25  New York
1  Emma   28    London
2  Mike   30     Paris

In [15]:
"""2. tail(): Similar to head(), tail() allows you to view the last n rows of a DataFrame. It is useful 
for quickly checking the end of the DataFrame. For example:"""

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Mike', 'Emily'],
        'Age': [25, 28, 30, 32],
        'City': ['New York', 'London', 'Paris', 'Sydney']}
df = pd.DataFrame(data)

# Display the last 3 rows
print(df.tail(3))

    Name  Age    City
1   Emma   28  London
2   Mike   30   Paris
3  Emily   32  Sydney

In [17]:
"""3.shape: This function returns the dimensions of the DataFrame as a tuple (rows, columns). It helps 
you understand the size of your data. For example:"""

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Mike', 'Emily'],
        'Age': [25, 28, 30, 32],
        'City': ['New York', 'London', 'Paris', 'Sydney']}
df = pd.DataFrame(data)

print(df.shape)

(4, 3)

In [3]:
""" 4.describe(): This function generates descriptive statistics of the DataFrame, including count, mean,
standard deviation, minimum, maximum, and quartile values. It provides a quick summary of the numerical 
columns in the DataFrame. For example:"""

# Create a DataFrame
import pandas as pd
data = {'Name': ['John', 'Emma', 'Mike', 'Emily'],
        'Age': [25, 28, 30, 32],
        'City': ['New York', 'London', 'Paris', 'Sydney']}
df = pd.DataFrame(data)

print(df.describe())

             Age
count   4.000000
mean   28.750000
std     2.986079
min    25.000000
25%    27.250000
50%    29.000000
75%    30.500000
max    32.000000

In [ ]:
"""Q6. Which of the following is mutable in nature Series, DataFrame, Panel?"""
#ans 
   Among the options provided, the mutable nature applies to the DataFrame in pandas. 
    Both Series and Panel are immutable in nature.

In [4]:
"""Q7. Create a DataFrame using multiple Series. Explain with an example."""
#Ans




import pandas as pd

# Create the Series
name_series = pd.Series(['John', 'Emma', 'Mike'])
age_series = pd.Series([25, 28, 30])
city_series = pd.Series(['New York', 'London', 'Paris'])

# Create the DataFrame
data = {'Name': name_series, 'Age': age_series, 'City': city_series}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

   Name  Age      City
0  John   25  New York
1  Emma   28    London
2  Mike   30     Paris